@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  margin:0;
  padding:0;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

.header-bg {
  width: 100vw;/*100%;*/
  height: 53vw;/*700px;*/
  margin: 0 auto;
  position:absolute;
  z-index: 20;
  overflow: hidden;
}

 .Top-navigation-bg {
  max-width: 100vw; /*100%;*/
  height: 8vw; /*100px;*/
  opacity: 0.35;
  background-color: #000000;
}

.button-header {
  width: 100vw;/*100%;*/
  height: 12vw;/*150px;*/
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; 
}

.Home-About-us {
  width:  11vw;/*250px;*/
  height: 2vw;/*25px;*/
  font-family: Playfair Display;
  font-size: 1.2vw;/*16px;*/
  font-weight: bold;
  line-height: 1.75;
  text-align: right;
  color: #ffffff;
  object-fit: contain;
  display: block;
  border: none;
  padding-top: 3vw;/*42px;*/
  padding-left: 9vw;
  overflow: hidden;
}

.text-style-1 {
  text-decoration:none;
  font-weight: 900;
  color: #f5d76e;
}

a.text-style-1:hover {
  color:#FFFF99;
}

.Menu-Blog-Contact {
  width: 19vw;/*250px;*/
  height: 2vw;/*25px;*/
  font-family: PlayfairDisplay;
  font-size: 1.2vw;/*16px;*/
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
  color: #ffffff;
  object-fit: contain;
  padding-left:3vw;/*40px;*/
  padding-top:3vw;/*42px;*/
  overflow: hidden;
}

.Be-latte---logo {
  width:  12vw;/*154px;*/
  height: 10vw; /*127px;*/
  padding-top: 0.31vw; /*4px;*/
  object-fit: contain;
  padding-left:3vw;/* 38px;*/
} 

a.About-us {
  color: white;
	text-decoration:none;
  padding-left: 2vw;/*20px;*/
}

a.About-us:hover {
  color:#f5d76e;
}

a.Blog {
    color: white;
	text-decoration:none;
    padding-left:2vw;
}

a.Blog:hover {
  color:#f5d76e;
}

a.Contact {
    color: white;
	text-decoration:none;
    padding-left:2vw;
}

a.Contact:hover {
  color:#f5d76e;
}


a.Menu {
    color: white;
	text-decoration:none;
}

a.Menu:hover {
  color:#f5d76e;
}


.welcome-to {
    width: 100%;
    margin: 0 auto;
}

.coffee-shop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: relative;
  z-index:10;
  margin: 0 auto;
  object-fit: contain;
}

.Welcome-to-Be-Latte {
  width: 40vw;
  height: 39px;
  font-family: PlayfairDisplay;
  font-size: 4vw;
  font-weight: bold;
  line-height: 0.58;
  text-align: center;
  color: #f5d76e;
  position:absolute;
  top:23vw;
  left:10.3vw;/*169px*/
  z-index: 20;
}

.Enjoy-of-a-fresh-new-approach-to-coffee-Proin-gravida-nibh-vel {
  width: 34vw;
  height: 3vw;
  font-family: Lato;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  position: absolute;
  z-index: 20;
  top:28vw; /*367px*/
  left:13vw;/*169px*/
}

.Btn-bg {
    width: 14vw; /*185px;*/
    height: 4vw; /*54px;*/
    border: solid 0.2vw #ffffff; 
    position: absolute;
    display: block;
    text-align: center;
    font-family: Lato;
    font-size: 1vw; /*13px;*/
    font-weight: 900;
    line-height: 4;
    letter-spacing: 0.3px;
    text-decoration: none;
    top: 34vw; /*444px;*/
    left: 13vw ;/*169px;*/
    color: white;
    z-index: 20;
}

a.Btn-bg:hover {
  border: solid 2px #f5d76e;
  color: #f5d76e;
}


.block_location {
	width: 100%;
	height: 524px;

}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: center;
    color: #28211f;
    color: var(--black);
    padding-bottom:60px;
    margin: 0;
}
.menu {
		max-width: 100%;
		position: relative;
}
.title {
		width: 135px;
		height: 99px;
    font-family: Playfair Display;
    font-size: 2rem;
    font-weight: bold;
    color: #2f2f2f;
    margin: 0 auto;
		text-align: center;
}
.img-placeholder {
	  max-width: 100%;
    margin: 0 auto;
		position: relative;
}
.coffee-placeholder {
    width: 29.281%;
		height: auto;
    display: inline-block;
    position: relative;
		margin-left: 1.2%;
    float: left;
}
.tea-photo-placeholder {
    width: 29.281%;
		height: auto;
    display: inline-block;
    position: relative;
    margin-left: 4.8%;
    margin-right: 4.8%;
}
.desert-placeholder {
    width: 29.281%;
		height: auto;
    background-color: #f5d76e;
    display: inline-block;
    position: relative;
    margin-right: 1.2%;
    float: right;
}
.cup-coffee {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.tea-realisticshots {
		max-width: 100%;
		height: auto;
    object-fit: contain;
}
.dessert {
		max-width: 100%;
		height: auto;
    object-fit: contain;
    opacity: 0.25;
}
.coffee {
    max-width: 155px;
    font-family: Playfair Display;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 40.139%;
    left: 30.306%;
}
.tea {
    max-width: 78px;
    font-family: Playfair Display;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    position: absolute;
		top: 40.139%;
		left: 40.306%;
}
.desserts {
    max-width: 205px;
    font-family: Playfair Display;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    position: absolute;
		top: 40.136%;
		left: 24.75%;
}
.name-product {
    font-weight: 900;
}
.price-menu {
		width: 100%;
		display: flex;
}
.price-coffee {
		width: 29.281%;
    display: inline-block;
    margin-left: 1.2%;
}
.price-desserts {
		width: 29.281%;
		display: inline-block;
}
.price-tea {
		width: 29.281%;
		display: inline-block;
    margin-left: 5.5%;
    margin-right: 4.3%;
}
ul {
    display: inline-block;
}
li {
    list-style-type: none;
    font-family: Lato;
    color: #28211f;
    line-height: 150%;
    font-size: 1rem;
}
.button-fm {
    max-width: 17.405%;
		height: auto;
    background-color: white;
    border: solid 2px #39312f;
    margin: 0 auto;
    margin-top: 59px;
    position: relative;
		display: block;
		text-align: center;
		font-family: Lato;
    font-size: 1rem;
    font-weight: 900;
		line-height: 300%;
		letter-spacing: 0.3px;
    color: #39312f;
		text-decoration: none;
}
.button-fm:hover {
    border: solid 2px #6C8CD5;
    color: #6C8CD5; 
}
.tea-name {
  margin-right: 15%;
  margin-left: 5%;
}
.coffee-name,
.desserts-name {
		margin-right: 20.77%;
		margin-left: 15%;
}

.block_coffee {
	width: 100%;
    height: 423px;
}
.BG {
    width: 100%;
    height: 425px;
    position: relative;
}

.Testimonial-bg {
    width: 35%;
    height: 425px;
    position: absolute;
    right: 0;
}
.realisticshots-coffee-photo {
    width: 100%;
    height: 425px;
    object-fit: contain;
    position: absolute;
}
.Chris-Parker {
    position: absolute;
    top: 197px;
    left: 171px;
    width: 118px;
    height: 17px;
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #f5d76e;
 }
.layer {
    width: 111px;
    height: 50px;
    font-family: Playfair Display;
    font-size: 90px;
    font-weight: bold;
    line-height: 0.23;
    text-align: left;
    color: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 32px;
    left: 30px;
}
.text {
    width: 256px;
    height: 75px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 234px;
    left: 101px;
}
.quotation-mark {
    width: 77px;
    height: 57px;
    font-family: Playfair Display;
    font-size: 200px;
    font-weight: bold;
    line-height: 0.11;
    color: rgba(255, 255, 255, 0.03);
    position: absolute;
    right: 25px;
    top: 400px;
}
.Bruno-Bergher {
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #ececec;
    border-radius: 50%;
}
.photo-placeholder{
    position: absolute;
    top: 98px;
    left: 187px;
}
.Ellipse {
    width: 11px;
    height: 11px;
    background-color: #39312f;
    border: solid 1px #ececec;
    position: absolute;
    left: 200px;
    top: 350px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.Ellipse-1-copy {
    width: 9px;
    height: 9px;
    background-color: #ececec;
    border: solid 1px #ececec;
    position: absolute;
    left: 225px;
    top: 350px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.Ellipse-2-copy {
    width: 9px;
    height: 9px;
    background-color: #ececec;
    border: solid 1px #ececec;
    position: absolute;
    left: 250px;
    top: 350px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
iframe {
    width: 65%;
    height: 425px;
    float: right;
}

.Hours-bg {
    width: 35%;
    height: 425px;
    background-color: #f5d76e;
    float: left;
}

.info {
	width: 80%;
    height: 302px;
    position: relative;
    padding: 59px 50px 64px 50px;
}

h3 {
	height: 16px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #28211f;
    color: var(--black);
    margin: 0 0 23px 0;
}

h4 {
	font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    color: #28211f;
    color: var(--black);
    margin: 0 0 19px 0;
}
span {
	font-weight: 600;
}

.Coffee-never-tasted-so-good u {
    font-weight: 900;
}

.morbi {
	width: 59%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #28211f;
    color: var(--black);
    margin: 0 auto;
    padding: 32px 0 80px 0;
}

.icon-coffee {
    width: 39px;
    height: 39px;
    object-fit: contain;
    padding: 0 0 80px 48%;
}

.footer-bg {
  width: 100%;
  height: 308px;
  background-color: #39312f;

}

.Social {
  width: 100%;
  padding-top: 93px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.facebook-icon {
  width: 14px;
  height: 26px;
  object-fit: contain;
  display: block;
  border: none;
}

.twitter-icon {
  width: 26px;
  height: 20px;
  object-fit: contain;
  padding-left:28px;
}

.Instagram-icon {
  width: 25px;
  height: 24px;
  object-fit: contain;
  padding-left:28px;
}

.Street-scroll {
  width: 100%;
  padding-top:44px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
 }

.St-Thomas-street-21st-Suite-110-Santa-Monica-California {
  width: 700px;
  height: 15px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}
